<html>
{% extends 'base.html' %}
{% block content %}
<style>
  form{
    background-color: darkslategray;
    width: 30%; 
    margin-left: 30%; 
    margin-top: 2%; 
    padding-left: 5%; 
    padding-right: 5%; 
    color: white;
    font-size: small; 
    margin-bottom: 5%;
  }

  h4{
    margin-left: 40%; 
    padding: 5%; 
    color: white; 
    font-size: x-large;
  }

  .btn{
    margin-bottom: 4%; 
    color: white; 
    border-color: white;
  }
  .mb-3{
    width: 100%
  }
</style>
<body>
  
    <form action="{{url_for('login')}}" method="post">
      <h4 >Log In</h4>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" minlength="6" maxlength="15">
          </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 form-check" >
          <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" >
          <label class="form-check-label" for="remember_me" >Remember Me</label>
        </div>
        <button type="submit" class="btn">Log In</button>
        
      </form>
      <main class="container my-2">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </main>
      {% endblock %}    
</body>

</html>
