<html></html>
{% extends 'base.html' %}

{% block content %} 
<style>
  .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<body >
  
  {% for post in posts %}
  <div  class="card" style="width: 20rem; text-align: center; margin-left: 40%; margin-top: 1%; margin-bottom: 1%; background-color:darkslategrey; color: white; font-size:large;">
    <div class="card-body">
      <p  class="card-subtitle mb-2 text-body-secondary">Post by: {{post.author.username}} on {{post.posted_date.strftime('%d-%m-%Y')}}</p>
      
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-subtitle mb-2 text-body-secondary"> {{post.content}}</p>

{% if post.author == current_user %}
      <a href="/post/{{post.id}}/delete" class="card-link" style="color:aquamarine;">Delete</a>
      <a href="/post/{{post.id}}/update" class="card-link" style="color: aquamarine">Edit</a>

      <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      {% endif %}
      {% if post.comments|length > 0 %}
      <a href="/view_comment/{{post.id}}">{{post.comments|length}} Comments</a>
      {% else %}
      <a > No Comments</a>
      {% endif %}
      
      {% if current_user.is_authenticated %}
      <form action="/create_comment/{{post.id}}" method="post">
        <h4 >Leave a Comment</h4>
            <div class="mb-3">
              <textarea type="textarea" class="form-control" id="message" name="message"  cols="40" rows="20" style= "height:100px"></textarea>
            </div>
          <button type="submit" class="btn">Submit</button>
          
        </form>
{% endif %}
      
    </div>
      
    </div>  
      
   
  </div> 
  
{% endfor %}
<div style="text-align: center;" >
  {% if page > 1 %}
  <a  href="{{url_for('posts', page=page-1)}}" > Previous </a>
  {% endif %}
  <h6 >Page {{page}} of {{total_pages}}</h6>
  
  {% if page < total_pages %}
  <a href="{{url_for('posts', page=page+1)}}" > Next </a>
  {% endif %}
  </div> 
{% endblock %}
</body>

</html>